<div class="row ">
   <div class="col-md-6">
      {{propertyName}}
   </div>
   <div class="col-md-6">
      <ng-container *ngIf="type==='time'">
         <input #propertyInput id="{{id}}" type="{{getType()}}" class="form-control" [(ngModel)]="_propertyValue" (input)="updateValueBinding($event)" />
      </ng-container>

       <ng-container *ngIf="type!=='time'">
         <input #propertyInput id="{{id}}" type="{{getType()}}" class="form-control" [(ngModel)]="_propertyValue" (input)="updateValueBinding($event)" />
      </ng-container>
   </div>
</div>