<div class="row h-100 w-100 m-0">
<div class="container-fluid p-0">
<div class="row form-group h-100">
   <div class="col-md-12">
      <div class="row m-0 h-100 d-inline-block w-100" >
         <div class="" >
            <table class="table scroballbar-table">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">Firstname</th>
                     <th scope="col">Lastname</th>                     
                  </tr>
               </thead>
               <tbody>
                  <ng-container *ngFor="let item of listOfEntites; index as i;">
                     <tr 
                     (mouseenter)="mouseEnterRow(i);" 
                     (mouseleave) ="mouseLeaveRow(i);"                        
                     [ngClass]="{'row-selected-color': rowEntered === i }"                     
                     (click)="selectItemStartTimerEitherToEditOrToShowMenu(item, $event);"
                     (keyup)="selectItemStartTimerEitherToEditOrToShowMenu(item, $event);"
                     (keydown)="selectItemStartTimerEitherToEditOrToShowMenu(item, $event);"
                     (mousedown)="selectItemStartTimerEitherToEditOrToShowMenu(item, $event);"
                     (mouseup)="itemMouseRelease(item, $event);"
                     >
                     <th scope="row">{{i}}</th>
                     <td >{{item.firstName}}</td>
                     <td >{{item.lastName}}</td>               
                     </tr>
                  </ng-container>
               </tbody>
            </table>
            <div>
               <div class="row">
                  <button type="button" class="btn btn-primary" (click)="addNew()" >Add</button>	
                   <ng-container  *ngIf="showExtendedMenu">
                     <button type="button" class="btn btn-primary" (click)="addNew()" >Delete</button>	                     
                   </ng-container>                          
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
