<main class="h-100">
   <div class="main-container row w-100 h-100 d-flex justify-content-center col-12">
      <div class="wrapper-containers">      
         <div class="row top-container">
            <div class="row">
               <div class="col-12">
                  <app-main-nav></app-main-nav>
               </div>
            </div>
         </div>

         <div class="row"> 
            <div class="left-container col-0">
            </div>
            <div class="center-container mt-4 h-100 col-12">
               <router-outlet></router-outlet>
            </div>
            <div class="right-container col-0">
            </div>            
         </div>
         <div class="row">
         <div class="bottom-container">
         </div>
         </div>         
      </div>
   </div>
</main>