<div class="row ml-0 mr-0">
   <div class="w-100 ml-0 mr-0 mt-1 mb-1">
      <div class="row">
         <div class="col-md-6">
            Contacs:
         </div>
         <div class="col-md-6">
            <button type="button" class="btn btn-secondary btn-lg" (click)="addEntity()">+</button>                  
         </div>
      </div>
   </div>
</div>
<ng-container *ngFor="let contact of contacts; index as i;">
   <div class="row ml-0 mr-0">
      <button type="button" class="btn btn-secondary btn-lg floatting-button" (click)="deleteEmailSelected(item)">-</button>
      <app-contacs-show-and-editing-view  [contactl]="contact"  ></app-contacs-show-and-editing-view>
   </div>
</ng-container>