@page
@model TourManagerWeb.Pages.Init


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
     <p>
            <strong>Request ID:</strong> <code>@Model.error</code>
        </p>
</div>
</body>
</html>